header{
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  background-color: #76323f;
}
header>h1{
  display: flex;
  width: 50%;
  position: relative;
  left: 16.5%;
  color: white;
  letter-spacing: 7px;
}

.container {
  font-family: 'Roboto', sans-serif;
  width: 30%;

  padding: 25px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 1px 1px 5px 1px black;

  align-items: center;
  margin: 2% auto;
}

p-table{
  border-radius: 225px !important;
}

td, th{
  text-align: center !important;
}
