header{
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  background-color: #76323f;
}
header>h1{
  display: flex;
  width: 50%;
  position: relative;
  left: 16.5%;
  color: white;
  letter-spacing: 7px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Roboto', sans-serif;
  width: 90%;
  padding: 25px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 1px 1px 5px 1px black;

  align-items: center;
  margin: 2% auto;
}

.add {
  position: fixed;
  padding: 16px;
  margin-bottom: 25px;
  margin-right: 25px;
  bottom: 0;
  right: 0;

  border-radius: 25px;
  border: none;

  background-color: #262228;

  z-index: 9999;
}

.add:hover {
  background-color: #39333b;
}

.add>i {
  padding: 9px;
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  font-size: 18pt;
}

.acoes>a,
.acoes>button,
button {
  background-color: #262228;
  border: none;
  margin: 10px;
}

.acoes>a:hover,
.acoes>button:hover,
button:hover {
  background-color: #39333b;
}

p-table{
  border-radius: 225px !important;
}

a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
}
